<h1 class="hello" data-testid="main-title">forex-api-test app is running!</h1>

<ng-template *ngIf="(_fetchService.isLoading | async) as loading">
  <h1 data-testid="loading-header">is loading: {{ loading }}</h1>
</ng-template>

<!-- ToDo: Rates[] length === 0 -->

<ng-template *ngFor="let item of _fetchService.getRates | async">
  <div data-testid="main-content">
    {{ item.code }} | {{ item.rate }}
  </div>
  <!-- move to child component after initial setup and testing -->
</ng-template>

<ng-template *ngIf="(_fetchService.isError | async) as error">
  <div data-testid="error-content">
    <h1 data-testid="error-header">is error: {{ error }}</h1>
    <button data-testid="reload-button" (click)="reload()">Retry</button>
  </div>
</ng-template>